[submodule "ingadhoc/odoo-argentina"]
	path = ingadhoc/odoo-argentina
	url = https://github.com/ingadhoc/odoo-argentina.git
	branch = 17.0
[submodule "ingadhoc/bambi-account-financial-tools-persiscal"]
	path = ingadhoc/bambi-account-financial-tools-persiscal
	url = git@github.com:PersiscalConsulting/bambi-account-financial-tools-persiscal.git
	branch = staging
[submodule "ingadhoc/bambi-account-payment-persiscal"]
	path = ingadhoc/bambi-account-payment-persiscal
	url = git@github.com:PersiscalConsulting/bambi-account-payment-persiscal.git
	branch = staging
[submodule "oca/ocaweb"]
	path = oca/ocaweb
	url = https://github.com/OCA/web.git
	branch = 17.0
